body {
    background: #111;
    color: white;
    font-family: Arial, MedievalSharp;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 50px;
}

#score {
    font-size: 80px;
}

button {
    font-size: 30px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 15px;
}
